.lang {
  width: 80px !important;
  margin: auto;
}

option {
  font-size: 0.8rem;
}

.perso > label {
  color: black;
  font-size: 0.8rem;

  
}

.perso {
  width: 100px;

  margin: auto;
  color: aliceblue;
}


.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 0rem 0.70rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: calc(1.7rem + 5px);
  line-height: 5;
}

.form-floating>label {
  padding: 0.1rem 0.50rem 0.1rem 0.50rem;
}

.form-floating:not(.form-control:disabled)::before {
    position: relative;
    top: var(--bs-border-width);
    left: var(--bs-border-width);
    width: calc(100% - (calc(calc(0.375em + 0.1875rem) + calc(0.75em + 0.375rem))));
    height: 1.875em;
    content: "";
    background-color: var(--bs-body-bg);
    border-radius: 0.375rem;
}
